label {
	display: inline-block;
	width: 5em;
}
.colors {
	width:40px;
	height:40px;
	border:1px solid grey;
	float: left;
	cursor:pointer;
}

#red {background-color:red;}

#orange {background-color:orange;}

#blue {background-color:blue;}

#green {background-color:green;}

#yellow {background-color:yellow;}

#purple {background-color:purple;}

#white {background-color:white;}

.textures {
    width:80px;
	height:40px;
	background-position:center;
	border:1px solid grey;
	cursor:pointer;
	float:left;
	line-height:40px;
	text-align:center;
}

#crossover {
	background-image:url('../images/crossover.png');
	font-size:11px;
	color:blue;
}
#explosion {
	background-image:url('../images/explosion.png');
	font-size:12px;
	color:red;
	font-stretch:expanded;
	font-weight:bold;
	font-family:Verdana, Geneva, sans-serif;
}
#fire {
	background-image:url('../images/fire.jpg');
	color:orange;
}
#water {
	background-image:url('../images/water.png');
	color:white;
	font-size:10px;
}
/*
#message-output {
	position:absolute;
	top:50px;
	text-align:center;
	font-size:30px;
	width: 100%;
}
*/

#kName-output {
	position:absolute;
	/*top:100px; */
	text-align:center;
	font-size:30px;
	width: 100%;
}

#kName-error {
	color:black;
}

.kParts {
	cursor:pointer;
	/*width:8%; 
	height:8%;*/
	float:left;
}
.containerdivNewLine { clear: both; float: left; display: block; }

.stickers_on_canvas {
	cursor:move;
	position:absolute;
	top:0px;
	left:0px;
	display:inline-block;
	z-index:1;
}

.kTail {z-index:10; }
.kWing {z-index:20;}
.kBody {z-index:30;}
.kLeg {z-index:40;}
.kArm {z-index:50;}
.kHead {z-index:60;}

.gHead{width:29px; height:47px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/head/godzilla_head.png');}
.sGHead{width:32px; height:51px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/head/spaceg_head.png');}
.mGHead{width:38px; height:72px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/head/mg_head.png');}
.rHead{width:25px; height:64px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/head/rodan_head.png');}
.dHead{width:73px; height:65px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/head/dest_head.png');}
.kGHead1{width:27px; height:89px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/head/kg_head1.png');}
.kGHead2{width:44px; height:77px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/head/kg_head2.png');}
.kGHead3{width:48px; height:83px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/head/kg_head3.png');}

.gBody{width:57px; height:141px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/body/godzilla_body.png');}
.sGBody{width:76px; height:178px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/body/spaceg_body.png');}
.mGBody{width:78px; height:174px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/body/mg_body.png');}
.rBody{width:52px; height:78px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/body/rodan_body.png');}
.dBody{width:57px; height:148px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/body/dest_body.png');}
.kGBody{width:52px; height:102px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/body/kg_body.png');}

.gArm1{width:32px; height:45px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/arm/godzilla_lt_arm.png');}
.gArm2{width:35px; height:45px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/arm/godzilla_rt_arm.png');}
.sGArm1{width:44px; height:100px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/arm/spaceg_lt_arm.png');}
.sGArm2{width:46px; height:100px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/arm/spaceg_rt_arm.png');}
.mGArm1{width:46px; height:102px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/arm/mg_lt_arm.png');}
.mGArm2{width:48px; height:104px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/arm/mg_rt_arm.png');}
.dArm1{width:48px; height:69px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/arm/dest_lt_arm.png');}
.dArm2{width:50px; height:72px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/arm/dest_rt_arm.png');}

.gLeg1{width:65px; height:114px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/leg/godzilla_lt_leg.png');}
.gLeg2{width:61px; height:110px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/leg/godzilla_rt_leg.png');}
.sGLeg1{width:70px; height:127px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/leg/spaceg_lt_leg.png');}
.sGLeg2{width:67px; height:125px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/leg/spaceg_rt_leg.png');}
.mgLeg1{width:71px; height:139px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/leg/mg_lt_leg.png');}
.mgLeg2{width:73px; height:139px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/leg/mg_rt_leg.png');}
.rLeg1{width:43px; height:76px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/leg/rodan_lt_leg.png');}
.rLeg2{width:43px; height:75px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/leg/rodan_rt_leg.png');}
.dLeg1{width:71px; height:105px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/leg/dest_lt_leg.png');}
.dLeg2{width:68px; height:104px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/leg/dest_rt_leg.png');}
.kGLeg1{width:45px; height:65px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/leg/kg_lt_leg.png');}
.kGLeg2{width:45px; height:65px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/leg/kg_rt_leg.png');}

.gTail{width:53px; height:149px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/tail/godzilla_tail.png');}
.sGTail{width:52px; height:145px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/tail/spaceg_tail.png');}
.mGTail{width:79px; height:107px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/tail/mg_tail.png');}
.rTail{width:65px; height:45px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/tail/rodan_tail.png');}
.dTail{width:121px; height:90px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/tail/dest_tail.png');}
.kGTail1{width:17px; height:41px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/tail/kg1_tail.png');}
.kGTail2{width:17px; height:49px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/tail/kg2_tail.png');}

.dWing1{width:180px; height:163px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/wing/dest_lt_wing.png');}
.dWing2{width:179px; height:165px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/wing/dest_rt_wing.png');}
.rWing1{width:202px; height:140px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/wing/rodan_lt_wing.png');}
.rWing2{width:200px; height:132px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/wing/rodan_rt_wing.png');}
.kGWing1{width:146px; height:166px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/wing/kg_lt_wing.png');}
.kGWing2{width:146px; height:168px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/wing/kg_rt_wing.png');}

