label {
	display: inline-block;
	width: 5em;
}
.colors {
	width:40px;
	height:40px;
	border:1px solid grey;
	float: left;
	cursor:pointer;
}

#red {background-color:red;}

#orange {background-color:orange;}

#blue {background-color:blue;}

#green {background-color:green;}

#yellow {background-color:yellow;}

#purple {background-color:purple;}

#white {background-color:white;}

.textures {
    width:80px;
	height:40px;
	background-position:center;
	border:1px solid grey;
	cursor:pointer;
	float:left;
	line-height:40px;
	text-align:center;
}

#crossover {
	background-image:url('../images/crossover.png');
	font-size:11px;
	color:blue;
}
#explosion {
	background-image:url('../images/explosion.png');
	font-size:12px;
	color:red;
	font-stretch:expanded;
	font-weight:bold;
	font-family:Verdana, Geneva, sans-serif;
}
#fire {
	background-image:url('../images/fire.jpg');
	color:orange;
}
#water {
	background-image:url('../images/water.png');
	color:white;
	font-size:10px;
}
/*
#message-output {
	position:absolute;
	top:50px;
	text-align:center;
	font-size:30px;
	width: 100%;
}
*/

#kName-output {
	position:absolute;
	/*top:100px; */
	text-align:center;
	font-size:30px;
	width: 100%;
}

#kName-error {
	color:black;
}

.kParts {
	cursor:pointer;
	/*width:8%; 
	height:8%;*/
	float:left;
}

.stickers_on_canvas {
	cursor:move;
	top:0px;
	left:0px;
	display:inline-block;
	z-index:1;
}

.kTail {z-index:10;}
.kWing {z-index:20;}
.kBody {z-index:30;}
.kLeg {z-index:40;}
.kArm {z-index:50;}
.kHead {z-index:60;}

.gHead{width:29px; height:47px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/head/godzilla_head.png');}
.sGHead{width:32px; height:51px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/head/spaceg_head.png');}
.mGHead{width:38px; height:72px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/head/mg_head.png');}
.rHead{width:25px; height:64px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/head/rodan_head.png');}
.dHead{width:73px; height:65px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/head/dest_head.png');}
.kGHead1{width:27px; height:89px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/head/kg_head1.png');}
.kGHead2{width:44px; height:77px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/head/kg_head2.png');}
.kGHead3{width:48px; height:83px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/head/kg_head3.png');}

.gBody{width:57px; height:141px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/body/godzilla_body.png');}
.sGBody{width:57px; height:141px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/body/spaceg_body.png');}
.mGBody{width:57px; height:141px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/body/mg_body.png');}
.rBody{width:57px; height:141px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/body/rodan_body.png');}
.dBody{width:57px; height:141px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/body/dest_body.png');}
.kGBody{width:57px; height:141px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/body/kg_body.png');}

.gArm1{width:32px; height:45px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/arm/godzilla_lt_arm.png');}
.gArm2{width:35px; height:45px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/arm/godzilla_rt_arm.png');}
.sGArm1{width:44px; height:100px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/arm/spaceg_lt_arm.png');}
.sGArm2{width:46px; height:100px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/arm/spaceg_rt_arm.png');}
.mGArm1{width:46px; height:102px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/arm/mg_lt_arm.png');}
.mGArm2{width:48px; height:104px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/arm/mg_rt_arm.png');}
.dArm1{width:48px; height:69px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/arm/dest_lt_arm.png');}
.dArm2{width:50px; height:72px; background-size:contain; background-repeat:no-repeat; background-image:url('../images/arm/dest_rt_arm.png');}